/* Styles for the Chat interface */
.chat--interface {
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 5rem;
  justify-content: center;
  position: relative;
}
.default--display {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 6rem;
  justify-content: center;
}
.chat--msg {
  display: flex;
}
.chat--message {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}
.chat--bubble {
  padding: 0.6rem 0.9rem;
  margin: 0.5rem 0;
  border-radius: 18px;
  max-width: 85%;
  /* pointer-events: none; */
  cursor: pointer;
  display: flex;
  align-self: flex-start;
  text-align: left;
  width: auto;
  line-height: 2;
  position: relative;
  border: none;
  font-size: 0.8rem;
  font-family: "Lexend Deca", sans-serif;
  outline: none;
}

.bot--bubble::before {
  content: "";
  position: absolute;
  top: 54.6%;
  right: 99.45%;
  border-width: 6.9px;
  border-style: solid;
  border-color: transparent hsl(240, 100%, 89%) transparent transparent;
  transform: translateY(-80%);
}
.user--bubble::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 98.85%;
  border-width: 6.9px;
  border-style: solid;
  border-color: transparent hsl(240, 61%, 50%) transparent transparent;
  transform: translateY(-80%) rotateY(180deg);
}

.bot--bubble {
  padding: 0.6rem 0.9rem;
  margin: 0.5rem 0;
  max-width: 80%;
  border-radius: 18px;
  background: hsl(240, 100%, 89%);
  /* pointer-events: none; */
  cursor: pointer;
  display: flex;
  align-self: flex-start;
  text-align: left;
  width: auto;
  color: hsl(0, 0%, 0%);
  line-height: 2;
  border: none;
  font-size: 0.8rem;
  font-family: "Lexend Deca", sans-serif;
  outline: none;
}
.user--bubble {
  padding: 0.6rem 0.9rem;
  margin: 0.5rem 0;
  border-radius: 18px;
  background: hsl(240, 61%, 50%);
  display: flex;
  cursor: pointer;
  max-width: 85%;
  align-self: flex-end;
  text-align: left;
  /* pointer-events: none; */
  width: auto;
  color: hsl(0, 0%, 100%);
  line-height: 2;
  border: none;
  font-size: 0.8rem;
  font-family: "Lexend Deca", sans-serif;
  outline: none;
}
.loading-dot-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-suggest-qns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 7rem;
}
.chat-suggest-qns p {
  padding: 0.1rem 6rem;
  margin: 0 2rem;
  border-radius: 18px;
  background: hsla(240, 2%, 53%, 0.13);
  cursor: pointer;
  width: 100%;
  color: hsl(240, 1%, 81%);
  line-height: 2;
  border: 2px solid hsla(240, 2%, 53%, 0.829);
  font-size: 0.8rem;
  font-family: "Lexend Deca", sans-serif;
  outline: none;
}
/* login */
.signup {
  font-weight: 600;
  text-decoration: none;
  font-size: 0.9rem;
  padding-left: 0.5rem;
  color: #343543;
}
.signup-writeup {
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Lexend Deca", sans-serif;
}
.login--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  padding: 4rem 2rem;
  text-align: center;
}
.login--content {
  border: 1px solid #cbe5ff83;
  padding: 1.5rem;
  border-radius: 8px;
  background: #fff;
}
.login--form {
  width: 30rem;
}
.forgot {
  font-size: 0.6rem;
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
}
.form {
  max-width: 80%;
  margin: auto;
  width: 40rem;
  background-color: #fff;
  /* flex: 3; */
  /* box-shadow: 1px 0px 15px #858085; */
  border-radius: 20px;
  padding: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
}
.entry--container {
  padding: 1rem 4rem;
  width: 100%;
}
.entry--container input {
  outline: none;
  border: 1px solid #343543;
  height: 50px;
  border-radius: 0.9rem;
  width: 100%;
  background: #eee;
  padding: 8px;
}

@media screen and (max-width: 769px) {
  .login--form {
    width: 25rem;
  }
  .chat-suggest-qns {
    margin-top: 8rem;
    flex-direction: column;
  }

  .chat-suggest-qns p {
    flex-direction: column;
    margin: 0.7rem 0;
  }
}
@media screen and (max-width: 585px) {
  .login--form {
    width: 20rem;
  }
  .chat--text h1 {
    font-size: 0.7rem;
    padding: 1rem;
  }
  .chat-suggest-qns {
    margin-top: 8rem;
    padding: 0 1rem;
    flex-direction: column;
  }
}
@media only screen and (max-width: 430px) {
  .login--form {
    width: 18rem;
  }
  .chat-suggest-qns {
    margin-top: 4rem;
  }
}
